/* HEADER SECTION STARTS */
.header{
    background-color: #FE2E2E;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    padding-right: 15px;
    z-index: 99999; 
}
.page_title{
    display: flex;
    margin-left: 1rem;
}
.pushbutton_panel{
    margin-inline-start: 300px;
    font-size: 20px;
}
#btn_sign_in{
    color: white;
    text-decoration-line: none;
    padding: 10px;
}
#btn_sign_up{
    color: white;
    text-decoration-line: none;
    padding: 10px;
}
/* HEADER SECTION ENDS */

/* GENERAL TAGS STARTS */
html{
    background-color: #FFFDF9;
}
ul{
    padding-inline-start: 0;
}

body{
    font-family: 'Helvetica', Arial, sans-serif;
    color: white;
}
/* GENERAL TAGS ENDS */

/* PAGE CONTENT STARTS */
.page_container{
    margin-top: 140px;
}

/* LOGIN STARTS */
.login{
    width: 35%;
    padding: 5px;
    background-color: #FE2E2E;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.error_Msg{
    color: #ff010e;
    margin: 10px 500px;
    align-items: center;
}
#email_input{
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border: 2px solid #FE2E2E;
    border-radius: 0.4rem;
    margin: 5px auto;
}
#password_input{
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border: 2px solid #FE2E2E;
    border-radius: 0.4rem;
    margin: 5px auto;
}
#btn_ok{
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: #9e0303;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}
#btn_ok:hover{
    background-color: #ff0101;
}
/* LOGIN ENDS*/

/* FACEBUK STARTS*/
.btn_primary{
    color: white;
    background-color: #9e0303;
    border: 0px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
}
.btn_primary:hover{
    background-color: #ff0101;
}
/* FACEBUK ENDS */


/* PAGE CONTENT ENDS */