/* HEADER SECTION STARTS */
.header{
    background-color: #036564;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
    padding-right: 15px;
    z-index: 99999;
}
.page_title{
    display: inline-block;
    margin-left: 1rem;
}
.user_container{
    float: right;
    display: flex;
    margin-top: 1%;
    margin-right: 2rem;
}
.avatar{
    margin-right:10%;
}
.avatar img{
    border-radius: 50%;
}
.user_info{
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    color:white;
}
#logout{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
}
/* HEADER SECTION ENDS */

/* GENERAL TAGS STARTS */
html{
    background-color: #FFFDF9;
}
ul{
    padding-inline-start: 0;
}

body{
    font-family: 'Helvetica', Arial, sans-serif;
    color: #121212;
}
/* GENERAL TAGS ENDS */

/* PAGE CONTENT STARTS */
.page_container{
    margin-top: 140px;
}

/* LOGIN STARTS */
.login{
    width: 35%;
    padding: 5px;
    background-color: #036564;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.error_Msg{
    color:red;
    margin: 5px auto;
}
#email_input{
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border: 2px solid #036564;
    border-radius: 0.4rem;
    margin: 5px auto;
}
#password_input{
    width: 100%;
    padding: 10px 0;
    background-color: white;
    border: 2px solid #036564;
    border-radius: 0.4rem;
    margin: 5px auto;
}
#btn_ok{
    padding: 5px;
    font-size: 18px;
    color: white;
    background-color: #033649;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    display: flex;
    margin: 0 auto;
}

/* LOGIN ENDS*/

/* TASK LIST STARTS */
.task{
    color: #121212;
    list-style-type: none;
    background-color: white;
    border: 2px solid #036564;
    border-radius: 0.4rem;
    width: 80%;
    padding: 10px;
    margin: 0 auto 1%;
    display: flex;
    align-items: center;
}
.task span{
    margin-left: 0.8rem;
}
.task.done{
    background-color: lightgrey;
    border: 0px solid transparent;
    opacity: 0.7;
}
.task_title{
    font-family: sans-serif;
    color: black;
}
.task_title.done{
    text-decoration: line-through;
}
.task_tag{
    font-family: monospace;
    font-weight: bold;
    border-radius: 5px;
    background-color: #036564;
    padding: 5px 15px;
    color: white;
}
.btn_primary{
    float: right;
    color: white;
    background-color: #033649;
    border: 0px solid transparent;
    padding: 5px 15px;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
}
.btn_primary:hover{
    background-color: #036564;
}
/* TASK LIST ENDS */

/* TASK ACTIONS STARTS */
.task_add{
    margin: 0 auto 12px;
    width: 80%;
    background-color: #036564;
    padding: 12px;
    border-radius: 0.4rem;
    border: 2px solid #036564;
    margin-top: 5rem;
}
.task_add button:hover{
    background-color: white;
    color: #036564;
}
.task_delete{
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
#task_input{
    width: 80%;
    padding: 5px;
}
#btn_delete{
    padding: 1rem 3rem;
    font-size: 18px;
    font-weight: bold;
    background-color: #720F59;
    margin: auto;
    margin-top: 0.65rem;
}
#btn_delete:hover{
    background-color: #AB4A92;
}
/* TASK ACTIONS ENDS */

/* PAGE CONTENT ENDS */