<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/ico" href="/img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/questions.css" media="screen">
    </head>
    <body>
        <section><%- include header %></section>
        <div class="page_container">
            <h1 class="question_title">Preguntas aleatorias</h1>
                <div class="content_wrapper question_list">
                    <ul class="list">
                        <% questionsList.forEach(q => { %>
                                <li class="question">
                                    <a href="/questionDetails/<%= q.id %>" class="link_secondary question_title"> <%= q.pregunta %> </a>
                                </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="add-container">
                    <h2 class="question_title">Añade tus preguntas</h2>
                    <a class=" btn_add btn_primary add" href="/addQuestion">+</a>    
                </div>
        </div>
    </body>
</html>