/* QUESTIONS STARTS */
.page_container .question_list{
    width: 40%;
    padding: 1.5rem 2rem;
}
.question_list ul{
    width: 100%;
}
.question{
    color: #121212;
    list-style-type: none;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
.question:last-of-type {
    margin-bottom: 0;
}
.question span{
    margin-left: 0.8rem;
}
.question_title{
    font-family: sans-serif;
    color: black;
}
.add-container{
    width: 120px;
    margin-left: auto;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.add-container .question_title {
    margin-bottom: 0;
}
.question_add{
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}
.btn_add{
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    align-items: center;
}
/* QUESTIONS ENDS */