<!DOCTYPE html>
<html>
	<head>
		<title>Amigos</title>
		<link rel="icon" type="image/ico" href="/img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/friends.css" media="screen">
	</head>
	<body>
		<section><%- include header %></section>
		<div class="page_container">
			<h1 class="centered">Amigos</h1>
			<h2 class="centered">Solicitudes de amistad</h2>

			<div class="content_wrapper">
				<ul>
					<% contactsList.forEach(contact => { %>
						<% if(contact.friendship == null) { %>
							<li>
								<img src="/userImage/<% contact.id %>" class="friend_avatar" height="50" width="50">
								<span class="friend_name"><% contact.name %></span>
								<div class="button_container btn_right">
									<a class="btn btn_primary" href="/acceptFriendInv/<% contact.id %>">Aceptar</a>
									<a class="btn btn_secondary"  href="/declineFriendInv/<% contact.id %>">Rechazar</a>
								</div>
							</li>
						<% } %>
					<% }) %>
				</ul>
			</div>

			<h2 class="centered">Búsqueda de amigos</h2>

			<div class="content_wrapper">
				<form method="/searchUsers" action="/friendsSearch">
					<label for="user_searcher">Buscar por nombre: </label>
					<input type="text" name="searcher" id="user_searcher" class="input_primary">
					<div class="right">
						<input type="submit" class="btn btn_primary" value="Buscar">
					</div>
				</form>
			</div>

			<h2 class="centered">Mis amigos</h2>

			<div class="content_wrapper">
				<ul>
					<% contactsList.forEach(contact => { %>
						<% if(contact.friendship != null && contact.friendship == true) { %>
							<li>
								<img src="/userImage/<% contact.id %>" class="friend_avatar" height="50" width="50">
								<span class="friend_name"><% contact.name %></span>
							</li>
						<% } %>
					<% }) %>
				</ul>
			</div>
		</div>
	</body>
</html>