<!DOCTYPE html>
<html>
    <head>
        <title>Facebuk</title>
        <link rel="icon" type="image/ico" href="img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
    </head>
    <body>
        <div class="header">
            <div class="page_title">
                <img src="img/title.jpg" height="100"/>
            </div>
            <div class="pushbutton_panel">
                <button id="btn_sign_up" class="btn_primary">Entrar</button>
                <button id="btn_sign_in" class="btn_primary">Nuevo Usuario</button>
            </div>
        </div>
    </body>
</html>