<!DOCTYPE html>
<html>
	<head>
		<title>Tu perfil</title>
		<link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/css/profile.css" media="screen">
	</head>
	<body>
		<div class="page_container">
			<h2 class="centered">Tu perfil</h2>
			<div class="profile_container">
				<div class="profile_img">
					<img src="" height="100" width="100">
				</div>
				<div class="profile_data">
					<span class="profile_data--name">John Doe</span>
					<span class="profile_data--other">25 años</span>
					<span class="profile_data--other">Hombre</span>
					<span class="profile_data--other">50 puntos</span>
				</div>
			</div>
			<a class="btn_primary btn_centered">Modificar perfil</a>
		</div>
	</body>
</html>	
	