<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/ico" href="/img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/questions.css" media="screen">
    </head>
    <body>
        <section><%- include header %></section>
        <div class="page_container">
            <div class="title">Preguntas aleatorias</div>
                <div class="question_list">
                    <ul>
                        <% questionsList.forEach(q => { %>
                                <li class="question">
                                    <span class="question_title"> <%= q.pregunta %> </span>
                                </li>
                        <% }) %>
                    </ul>
                </div>
            <div class="title">Añade tus preguntas</div>
            <div class="question_add">
                <a id="btn_add" class="btn_primary" href="/addQuestion">Crear nuevas preguntas</a>    
            </div>
        </div>
    </body>
</html>