<!DOCTYPE html>
<html>
    <head>
        <title>Facebuk</title>
        <link rel="icon" type="image/ico" href="/img/u.ico">
        <link rel="stylesheet" type="text/css" href="/css/header.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/facebuk.css" media="screen">
        <link rel="stylesheet" type="text/css" href="/css/login_register.css" media="screen">
    </head>
    <body>
        <div class="header">
            <div class="page_title">
                <img src="/img/title.jpg" height="100"/>
            </div>
            <div class="pushbutton_panel">
                <a id="btn_sign_in" class="link" href="/login"> Entrar</a>
                <a id="btn_sign_up" class="link" href="/signUp"> Nuevo Usuario</a>
            </div>
        </div>
        <div class="page_container">
            <div class="login">
                <form method="POST" action="/insertUser">
                    Direcci칩n de correo<input id="email_input" class="input_primary" type="email" placeholder="Direcci칩n de Correo" name="email"/>
                    Contrase침a<input id="password_input" class="input_primary" type="password" placeholder="Contrase침a" name="password"/>
                    Nombre completo<input id="name_input" class="input_primary" type="text" placeholder="Nombre completo" name="name"/>
                    Sexo<input id="gender_input" type="radio" name="gender" value="Masculino"/>Masculino
                    <input id="gender_input" type="radio" name="gender" value="Femenino"/>Femenino
                    <input id="gender_input" type="radio" name="gender" value="Otro"/>Otro<br>
                    Fecha de nacimiento<input id="date_input" class="input_primary" type="date" placeholder="Fecha de nacimiento" name="date"/>
                    Imagen de perfil<input id="user_image_input" type="file" name="file"/>
                    <input id="btn_ok" type="submit" class="btn_ok" value="Crear usuario"/>
                </form>
            </div>
        </div>
    </body>
</html>