/* HEADER SECTION STARTS */
.header{
    background-color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -8px;
}
.page_title{
    display: inline-block;
}
.user_container{
    float: right;
    display: flex;
    margin-top: 1%;
    margin-right: 1%;
}
.avatar{
    margin-right:5%;
}
.user_info{
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    color:white;
}
#logout{
    color: white;
}
/* HEADER SECTION ENDS */

/* GENERAL TAGS STARTS */
html{
    background-image: url("img/background2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
ul{
    padding-inline-start: 0;
}
/* GENERAL TAGS ENDS */

/* PAGE CONTENT STARTS */
.page_container{
    margin-top: 140px;
}

/* TASK LIST STARTS */
.task{
    list-style-type: none;
    background-color: aquamarine;
    border: 5px solid aqua;
    width: 80%;
    padding: 10px;
    margin: 0 auto 1%;
}
.task.done{
    background-color: lightgrey;
    border: 5px solid grey;
}
.task_title{
    font-family: sans-serif;
    font-style: italic;
    color: black;
}
.task_title.done{
    text-decoration: line-through;
}
.task_tag{
    font-family: monospace;
    font-weight: bold;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: lightblue;
    padding: 2px;
}
.btn_finish_task{
    float: right;
    color: darkslategrey;
    background-color: greenyellow;
}
.btn_finish_task:hover{
    background-color: darkgreen;
    color:white;
}
/* TASK LIST ENDS */

/* TASK ACTIONS STARTS */
.task_add{
    margin: 0 auto 12px;
    width: 80%;
    background-color: blueviolet;
    padding: 12px;
    border: 5px solid violet;
}
.task_delete{
    margin: 0 auto;
    width: 60%;
}
#task_input{
    width: 80%;
    padding: 5px;
}
#btn_add{
    float: right;
    background-color: purple;
    color: white;
    padding: 5px 15px;
    vertical-align: middle;
}
#btn_add:hover{
    background-color: coral;
}
#btn_delete{
    background-color: red;
    color: white;
    padding: 15px 40px;
    text-align: center;
    width: 100%;
}
#btn_delete:hover{
    background-color: yellow;
    color:black;
}
/* TASK ACTIONS ENDS */

/* PAGE CONTENT ENDS */